<nav
  class="rpgui-container framed-golden-2 flex items-center justify-between mb-10"
>
  <div class="flex items-center gap-6">
    <a [routerLink]="['/home']">RPG Adventure</a>
  </div>
  <div class="flex items-center gap-6">
    <a class="rpgui-button golden" (click)="onProfile()">
      <p class="text-center">
        {{ authService.getUser()?.username || "Utilisateur" }}
      </p>
    </a>
    <button class="rpgui-button" type="button" (click)="onLogout()">
      <p>Déconnexion</p>
    </button>
  </div>
</nav>
