<main class="rpgui-container framed">
  <h1 class="!text-2xl">Tableau de bord</h1>
  <hr class="golden mb-8" />

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-8">
    <section class="rpgui-container framed-golden">
      <h2>Personnage actif</h2>
    </section>

    <section class="rpgui-container framed-golden">
      <h2>Quetes disponibles</h2>
    </section>

    <section class="rpgui-container framed-golden">
      <h2>Derniers combats</h2>
    </section>

    <section class="rpgui-container framed-golden">
      <h2>Boutique</h2>
    </section>
  </div>

  <section>
    <h1>Activite recente</h1>
  </section>
</main>
